body{
  background-color: rgb(211, 226, 216);
}

table {
  border-spacing: 0;
  width: 80%;
  border: 1px solid #dddd;
}

th,
td {
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: rgb(153, 153, 197);
}